.Weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gestion-ville {
    display: flex;
    gap: 30px;
}

.detail-meteo-villes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}