.CharacterList {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.title-page {
    color: rgba(255,194,38,0.69);
}

.gestion-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}